:root{
    --lineColor: rgb(103, 103, 103);
    --rot: rotate(-60deg);
    --myPad: 30px;
    --shadowColor: rgb(103, 103, 103);
}

.ballContainer{
    width: fit-content;
    height: fit-content;
    padding: 10px;
}

.linea{
    padding: var(--myPad);
    display: flex;
    justify-content: center;
    align-items: center;  
    border-width: 2px;
    border-style: solid;
    border-color: var(--lineColor);
    border-radius: 50%;
    position: relative;
}

.lineaBola{
    padding: var(--myPad);
    display: flex;
    justify-content: center;
    align-items: center;  
    border-width: 2px;
    border-style: solid;
    border-color: var(--lineColor);
    border-radius: 50%;
    position: relative;
}

.floatingText{
    -webkit-transform: var(--rot);   
    -moz-transform: var(--rot);    
    transform: var(--rot);   
    position: absolute;
    left: 0px;
    top: 50%;
}

.rulerHorizontal{
    position: absolute;
    width: 100%;
    border-width: 1px 0px 0px 0px;
    border-style: solid;
    z-index: -10;
}

.rulerVertical{
    position: absolute;
    height: 100%;
    border-width: 0px 1px 0px 0px;
    border-style: solid;
    z-index: -10;
}

.bola{
    padding: 0px;
    overflow: visible;
    background: rgb(158,158,158);
    background: radial-gradient(circle, rgba(158,158,158,1) 0%, rgb(0, 0, 0) 100%);

}

.central{
    position: absolute;
    border-radius: 50%;
    opacity: 0.4;
    overflow: visible;
    background-color: var(--shadowColor);
    z-index: -1;

}